*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*nav*/
.topnav {
    position: fixed;
    z-index:1;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: white;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 17px; 
  }
  
  .topnav form {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 650px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav form {display:none;}
  }
  
  @media screen and (max-width: 650px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive form {
      float: none;
      display: block;
      text-align: left;
      left: left;
    }
  }
/*end nav*/

#descripcion{
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 4em;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
		text-align:justify;
}
#titulo{
	padding-top: 5px;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 3em;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
		text-align:center;
}
#descripcion2{
    padding-top: 10px;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 2em;
    margin: 0 auto;
    line-height: 1.3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
		text-align:center;
}
#titulo2{
	padding-top: 5px;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 1em;
    margin: 0 auto;
    line-height: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
		text-align:center;
}
#div1index{
	color:white;
	max-width:1200px;
	margin-top:100px;
}
#div4index{
	margin-top:15px;
}
#h1index{
	text-align:center;
}
#imgindex{
	width:100%;
}
#imgmedicos{
    width:100%;
    height: 200px;
}
#div1bar{
	margin-top:46px;
}
.centrado{
	margin:10px auto;
	display:block;
    }
body{
	background:#2e6da4;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	font-family: Roboto;

}
.contenedor-form{
    position: relative;
	background: rgba(0,0,0,.7);
	width: 100%;
	max-width: 500px;
	margin:48px auto;
	color: #fff;
	border-radius: 5px;
	margin-top: 80px;

}
.contenedor-form .toggle {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    border-top: 2px solid #ff851b;
    border-bottom: 2px solid #ff851b;
    transition: all .5s ease;
    cursor: pointer;

}
.contenedor-form .toggle span{
    letter-spacing: 1px;
}
contenedor-form .toggle:hover{
    border-top: 2px solid #0075d9;
    border-bottom: 2px solid #0075d9;
}
.contenedor-form h2{
    margin: 0 0 28px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}
.contenedor-form input[type="text"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"]{
    outline: none;
    background: rgba(0,0,0,.5);
    display: block;
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #ff851b;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 20px 0;
    transition: all .5s ease;
}
.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus,
.contenedor-form input[type="email"]:focus{
    border-bottom:  4px solid #0075d9 ;
}
.contenedor-form input[type="submit"]{
    background: #ff851b;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px 0;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    transition: all .5s ease;
}
.contenedor-form input[type="submit"]:hover{
    background: rgba(0,117,217,0.7);
}

select {
     background: rgba(255,255,255,255);
     border: none;
     font-size: 14px;
     height: 30px;
     padding: 5px;
     width: 100%;
		 margin-bottom: 15px;
  }
.contenedor-form .reset-password{
    background: rgba(0,117,217,0.7);
    width: 100%;
    padding: 15px 0;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.contenedor-form .reset-password a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.contenedor-form .formulario{
    padding: 40px;
    display: none;
}
.contenedor-form .formulario:nth-child(2){
    display: block;
}
